{% extends 'base.html' %}

{% block content %}
  <h1>{{ total_points }} Points</h1>

  <h2>Actions</h2>
  <table>
    <tbody>
      {% for action in actions %}
        <tr>
          <td>{{ action.action_name }}</td>
          <td>{{ action.points }} points</td>
          <td>
            <form method="post" action="{% url 'record_action' action.pk %}">
              {% csrf_token %}
              <button type="submit">Record</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Rewards</h2>
  <table>
    <tbody>
      {% for reward in rewards %}
        <tr>
          <td>{{ reward.reward_name }}</td>
          <td>{{ reward.required_points }} points</td>
          <td>
            <form method="post" action="{% url 'exchange_reward' reward.pk %}">
              {% csrf_token %}
              <button type="submit">Exchange</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Action Point Chart</h2>
  <canvas id="myChart" width="400" height="200"></canvas>

  <script>
    const dailyPoints = {{ daily_points|safe }};
    const labels = dailyPoints.map(item => item.date);
    const data = dailyPoints.map(item => item.points);

    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: labels,
        datasets: [{
          data: data,
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        },
        plugins: {
          legend: {
            display: false  // ラベルを非表示にする
          }
        }
      }
    });
  </script>

{% endblock %}