{% extends 'base.html' %}

{% block content %}
  <h1>Action List</h1>
  <a href="{% url 'action_create' %}">Create New Action</a>

  <ul>
    {% for action in actions %}
      <li>
        {{ action.action_name }} - {{ action.points }}
        <div>
          <a href="{% url 'action_update' action.pk %}">Edit</a>
          <a href="{% url 'action_delete' action.pk %}">Delete</a>
        </div>
      </li>
    {% empty %}
      <li>アクションはまだありません。</li>
    {% endfor %}
  </ul>

  <a href="{% url 'mypage' %}">My Page</a>
{% endblock %}