{% extends 'base.html' %}

{% block content %}
  <h1>History</h1>
  <table>
    <thead>
      <tr>
        <th>Action/Reward</th>
        <th>Point Change</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for history in histories %}
        <tr>
          <td>
            {% if history.action %}
              {{ history.action.action_name }}
            {% elif history.reward %}
              {{ history.reward.reward_name }}
            {% endif %}
          </td>
          <td>{{ history.point_change }} points</td>
          <td>{{ history.date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}